<a href="https://colab.research.google.com/github/joaocanaslopes/assignment_3/blob/main/assi_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##  Upload do ficheiro para o Google Colab

Nesta célula fazemos o upload do ficheiro CSV através da ferramenta `files.upload()`, que permite escolher um ficheiro guardado no computador.

Ao executar, aparece um botão para selecionar o ficheiro `kiva_loans.csv`.

In [1]:
from google.colab import files
uploaded = files.upload()

Saving kiva_loans.csv to kiva_loans.csv

##  Carregar o dataset com Pandas

Depois do upload, usamos `pd.read_csv()` para ler o ficheiro.

`list(uploaded.keys())[0]` devolve o nome do ficheiro enviado, permitindo carregá-lo automaticamente sem escrever o nome manualmente.

`df.head()` mostra as primeiras 5 linhas da tabela para confirmar que foi carregada corretamente.

In [2]:
import pandas as pd

df = pd.read_csv(list(uploaded.keys())[0])
df.head()

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
0,653051,300.0,300.0,Fruits & Vegetables,Food,"To buy seasonal, fresh fruits to sell.",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:12:39+00:00,2013-12-17 08:00:00+00:00,2014-01-02 10:06:32+00:00,12.0,12,NaN,female,irregular,2014-01-01
1,653053,575.0,575.0,Rickshaw,Transportation,to repair and maintain the auto rickshaw used ...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:51:08+00:00,2013-12-17 08:00:00+00:00,2014-01-02 09:17:23+00:00,11.0,14,NaN,"female, female",irregular,2014-01-01
2,653068,150.0,150.0,Transportation,Transportation,To repair their old cycle-van and buy another ...,IN,India,Maynaguri,INR,334.0,2014-01-01 09:58:07+00:00,2013-12-17 08:00:00+00:00,2014-01-01 16:01:36+00:00,43.0,6,"user_favorite, user_favorite",female,bullet,2014-01-01
3,653063,200.0,200.0,Embroidery,Arts,to purchase an embroidery machine and a variet...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 08:03:11+00:00,2013-12-24 08:00:00+00:00,2014-01-01 13:00:00+00:00,11.0,8,NaN,female,irregular,2014-01-01
4,653084,400.0,400.0,Milk Sales,Food,to purchase one buffalo.,PK,Pakistan,Abdul Hakeem,PKR,245.0,2014-01-01 11:53:19+00:00,2013-12-17 08:00:00+00:00,2014-01-01 19:18:51+00:00,14.0,16,NaN,female,monthly,2014-01-01

# Question 1 – Select rows using string methods and numerical conditions

## 1.1 Filtrar linhas com empréstimos acima de 1000

Usamos uma condição numérica (`df['loan_amount'] > 1000`) para selecionar apenas os empréstimos cujo valor é superior a 1000.

`display()` serve para mostrar o resultado de forma organizada no Colab.

In [4]:
display(df[df['loan_amount'] > 1000])

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
35,653047,2225.0,2225.0,Personal Products Sales,Retail,to buy hair oils to sell.,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 04:49:26+00:00,2013-12-17 08:00:00+00:00,2014-01-19 16:39:37+00:00,11.0,58,"#Parent, #Repeat Borrower, user_favorite","female, female, female, female, female, female...",irregular,2014-01-01
50,653170,3175.0,3175.0,Butcher Shop,Food,to buy meat and also to start selling fish in ...,TZ,Tanzania,Dar es Salaam,TZS,87.0,2014-01-02 06:26:40+00:00,2013-12-26 08:00:00+00:00,2014-01-29 16:05:19+00:00,10.0,93,"#Parent, #Repeat Borrower, #Schooling, user_fa...","male, male, male, male, male",monthly,2014-01-02
59,653161,3175.0,3175.0,Home Products Sales,Retail,to buy fabric to sell and materials to make be...,TZ,Tanzania,Dar es Salaam,TZS,87.0,2014-01-02 06:03:54+00:00,2013-12-26 08:00:00+00:00,2014-01-19 15:06:04+00:00,8.0,114,"#Parent, #Repeat Borrower, #Woman Owned Biz, u...","male, female, female, female",irregular,2014-01-02
62,653290,4275.0,4275.0,Personal Housing Expenses,Housing,to pay for the construction of a hygienic toil...,VN,Vietnam,Hai Duong,VND,331.0,2014-01-02 11:12:43+00:00,2014-01-27 08:00:00+00:00,2014-01-11 05:20:41+00:00,14.0,144,"user_favorite, #Low-profit FP, #Post-disbursed...","female, female, female, female, female, female...",bullet,2014-01-02
64,653181,1500.0,1500.0,Personal Housing Expenses,Housing,to purchase timber and zinc to build a new house,KH,Cambodia,Kampong Chhnang Province,USD,9.0,2014-01-02 06:55:54+00:00,2013-12-18 08:00:00+00:00,2014-01-03 21:27:40+00:00,20.0,26,"#Fabrics, #Parent, #Supporting Family",female,monthly,2014-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671132,1338844,0.0,3425.0,Personal Medical Expenses,Health,to purchase medications and pay for her medica...,TJ,Tajikistan,Isfara,TJS,63.0,2017-07-13 05:22:28+00:00,2017-07-12 07:00:00+00:00,NaN,20.0,0,"#Elderly, #Health and Sanitation",female,monthly,2017-07-13
671134,1338682,3525.0,3525.0,Grocery Store,Food,"to buy drinks, baked goods, greens, meat, vege...",PY,Paraguay,Ciudad del Este,PYG,58.0,2017-07-13 00:31:11+00:00,2017-06-13 07:00:00+00:00,2017-07-15 17:44:19+00:00,5.0,16,#Woman Owned Biz,"female, female, female, female, female, female...",irregular,2017-07-13
671137,1339831,50.0,1150.0,Higher education costs,Education,"to pay his nephews' tuition, so that they can ...",TJ,Tajikistan,Qurgan-Tube,TJS,63.0,2017-07-14 08:39:00+00:00,2017-07-06 07:00:00+00:00,NaN,14.0,2,"#Schooling, #Parent, #Supporting Family, user_...",male,monthly,2017-07-14
671143,1339701,125.0,1175.0,Farming,Agriculture,to purchase seeds and fertilizer for his green...,UA,Ukraine,Gladkovka,UAH,26.0,2017-07-14 04:53:04+00:00,2017-07-10 07:00:00+00:00,NaN,14.0,5,"user_favorite, user_favorite, #Parent, #Repair...",male,monthly,2017-07-14
671144,1339679,175.0,1950.0,Farming,Agriculture,to purchase planting stock and fertilizers.,UA,Ukraine,Gladkovka,UAH,26.0,2017-07-14 04:18:14+00:00,2017-07-11 07:00:00+00:00,NaN,14.0,7,"#Parent, #Vegan, #Woman Owned Biz, user_favorite",female,monthly,2017-07-14

## 1.2 Selecionar empréstimos nos sectores Agriculture e Food

Aqui utilizamos o método `.isin()` para manter apenas as linhas em que o sector pertence à lista: *Agriculture* ou *Food*.

Isto é um exemplo de filtragem com métodos de strings.

In [5]:
display(df[df["sector"].isin(["Agriculture","Food"])])

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
0,653051,300.0,300.0,Fruits & Vegetables,Food,"To buy seasonal, fresh fruits to sell.",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:12:39+00:00,2013-12-17 08:00:00+00:00,2014-01-02 10:06:32+00:00,12.0,12,NaN,female,irregular,2014-01-01
4,653084,400.0,400.0,Milk Sales,Food,to purchase one buffalo.,PK,Pakistan,Abdul Hakeem,PKR,245.0,2014-01-01 11:53:19+00:00,2013-12-17 08:00:00+00:00,2014-01-01 19:18:51+00:00,14.0,16,NaN,female,monthly,2014-01-01
6,653067,200.0,200.0,Dairy,Agriculture,To purchase a dairy cow and start a milk produ...,IN,India,Maynaguri,INR,334.0,2014-01-01 09:51:02+00:00,2013-12-16 08:00:00+00:00,2014-01-01 17:18:09+00:00,43.0,8,"user_favorite, user_favorite",female,bullet,2014-01-01
9,653048,625.0,625.0,Food Production/Sales,Food,"to buy a stall, gram flour, ketchup, and coal ...",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 05:41:03+00:00,2013-12-17 08:00:00+00:00,2014-01-03 15:45:04+00:00,11.0,24,NaN,female,irregular,2014-01-01
14,653075,225.0,225.0,Poultry,Agriculture,to expand her existing poultry farm business.,IN,India,Dhupguri,INR,334.0,2014-01-01 11:24:40+00:00,2013-12-20 08:00:00+00:00,2014-01-01 18:58:18+00:00,43.0,7,user_favorite,female,bullet,2014-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671199,1340318,0.0,25.0,Livestock,Agriculture,"[True, u'para compara: cemento, arenya y ladri...",PY,Paraguay,Concepción,USD,58.0,2017-07-25 06:45:02+00:00,2017-07-24 07:00:00+00:00,NaN,13.0,0,NaN,female,monthly,2017-07-25
671200,1340323,0.0,25.0,Livestock,Agriculture,"[True, u'para compara: cemento, arenya y ladri...",PY,Paraguay,Concepción,USD,58.0,2017-07-25 16:55:34+00:00,2017-07-25 07:00:00+00:00,NaN,13.0,0,NaN,female,monthly,2017-07-25
671201,1340316,25.0,25.0,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",KE,Kenya,NaN,KES,138.0,2017-07-25 06:14:08+00:00,2017-07-24 07:00:00+00:00,2017-07-26 02:09:43+00:00,13.0,1,NaN,female,monthly,2017-07-25
671203,1340338,0.0,25.0,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",KE,Kenya,NaN,KES,138.0,2017-07-26 06:12:55+00:00,2017-07-25 07:00:00+00:00,NaN,13.0,0,NaN,female,monthly,2017-07-26
671204,1340339,0.0,25.0,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",KE,Kenya,NaN,KES,138.0,2017-07-26 06:31:46+00:00,2017-07-25 07:00:00+00:00,NaN,13.0,0,NaN,female,monthly,2017-07-26

# Question 2 – Sort table using one or more columns

## 2.1 – Sort table using one or more columns

Nesta célula vamos ordenar o DataFrame pelo valor dos empréstimos (`loan_amount`) de forma crescente.  
Selecionamos apenas as colunas `country`, `sector` e `loan_amount` para mostrar os dados mais relevantes.  

O método usado é `.sort_values(by="loan_amount")`, que organiza as linhas do menor para o maior valor.

In [9]:
display(df[["country", "sector", "loan_amount"]].sort_values(by="loan_amount"))

            country        sector  loan_amount
671199     Paraguay   Agriculture         25.0
671197        Kenya   Agriculture         25.0
671194        Kenya   Agriculture         25.0
671190        Kenya   Agriculture         25.0
671189        Kenya   Agriculture         25.0
...             ...           ...          ...
544548  South Sudan        Health      50000.0
408295      Albania      Clothing      50000.0
408465         Peru  Construction      50000.0
618264    Indonesia   Agriculture      50000.0
70499         Haiti   Agriculture     100000.0

[671205 rows x 3 columns]

# Question 3 – Group and aggregate rows with `groupby`

## 3.1 Média do valor dos empréstimos por país

Aqui usamos `groupby("country")` para agrupar as linhas por país.

Depois aplicamos `.mean()` à coluna `loan_amount` para obter o valor médio de empréstimos em cada país.

In [6]:
df.groupby("country")["loan_amount"].mean()

country
Afghanistan       7000.000000
Albania           1378.748707
Armenia           1496.396710
Azerbaijan        1485.192802
Belize             912.200000
                     ...
Vietnam           1373.369916
Virgin Islands    5000.000000
Yemen              812.775616
Zambia            1544.228316
Zimbabwe           854.586019
Name: loan_amount, Length: 87, dtype: float64

## 3.2 Soma total dos empréstimos por sector

Este código agrupa os dados pelo sector e calcula a soma total do valor dos empréstimos (`loan_amount`) dentro de cada sector.

É um exemplo de agregação com `groupby` e `.sum()`.

In [8]:
df.groupby("sector")["loan_amount"].sum()

sector
Agriculture       143067875.0
Arts               12240325.0
Clothing           37300925.0
Construction        6695150.0
Education          30968525.0
Entertainment       1389150.0
Food              121606150.0
Health              9843400.0
Housing            23663950.0
Manufacturing       5447900.0
Personal Use       14955350.0
Retail             98122900.0
Services           48057450.0
Transportation     11066900.0
Wholesale            995200.0
Name: loan_amount, dtype: float64

# Question 4 – Create a new variable with `apply` and `lambda`

In [10]:
def categorize_loan(x):
    if x < 500:
        return "Small"
    elif x < 1500:
        return "Medium"
    else:
        return "Large"

df["loan_category"] = df["loan_amount"].apply(lambda x: categorize_loan(x))

In [11]:
display(df[["loan_amount", "loan_category"]])

        loan_amount loan_category
0             300.0         Small
1             575.0        Medium
2             150.0         Small
3             200.0         Small
4             400.0         Small
...             ...           ...
671200         25.0         Small
671201         25.0         Small
671202         25.0         Small
671203         25.0         Small
671204         25.0         Small

[671205 rows x 2 columns]